.ribbon {
    --ribbon-height: 48px;
    --ribbon-padding-x: 20px;
    --logo-width: 66px;

    display: flex;
    align-items: center;
    padding: 0 var(--ribbon-padding-x);
    height: var(--ribbon-height);
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
}

.ribbon picture,
.ribbon p:first-child {
    display: flex;    
}

.ribbon p:first-child img {
    width: var(--logo-width);
}

.ribbon p:last-child {
    width: var(--logo-width);
    display: flex;
    justify-content: end;
}
